/* *{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
} */
.body{
    font-family: 'DM Sans', sans-serif;
}
.container  {
    
   max-width: 1070px;
   margin: 0 auto;
}
.header, .footer{
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0 47px;
}

.display-flex, .about, .footer-flex {
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.nav-li{
    display: inline-block;
}
.nav-li:not(:first-of-type){

    margin-left: 49px;
}
.nav-link{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}
.nav-link:hover{
    color: black;
    transition: 300ms;
}
.button{
    width: 212px;
    height: 60px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button-orang{
    background: #FF7143;
}
.button-orang:hover {
    background: #f7774d;
    transition: 500ms;
}
.about{
    margin: 104px auto 85px;
}
.about-title{
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;    
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}
.about-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 410px;
    margin-bottom: 50px;
}
.button-vialet{
        background: #5454D4;
 }
.button-vialet:hover{
    background-color: rgb(114, 67, 245);
    transition: 300ms;
}
.button-transpaorent{
    color: #5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;
}
.button-transpaorent:hover{
    border-color: rgb(21, 255, 0);
    transition: 500ms;
}
.footer{
    padding: 53px 0;
}
